
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; 
    -webkit-appearance: none;
    font-family: 'TT Commons';
}
a {
    color: #000;
    text-decoration: none;
}

.body-bef {
    position: relative;

    &::before {
        content: "";
        width: 100%;
        max-width: 1200px;
        height: 100%;
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0%;
        transform: translate(-50%,0%);
        z-index: -1;
        background: url("../img/bg-line.svg") center bottom no-repeat;
        background-size: contain;
    }
}


.container {
    width: 100%;
    max-width: 1155px;
    padding:0 15px;
    margin: 0 auto; 
}

.btn {
    width: 100%;
    max-width: 210px;
    min-height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #0066C9;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    border: none;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.3s;
    &:hover {
        background: #0B5AA7;
        box-shadow: 0px 0px 37.037px rgba(0, 102, 201, 0.2);
    }
}

.header {
    width: 100%;
    min-height: 100px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E6EAEF;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-right {
            width: 60%;
            display: flex;
            align-items: center;
            .menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin-right: 80px;
                a {
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 150%;

                    text-align: center;

                    color: #1D1D1F;
                    transition: 0.3s;
                    &.active {
                        color: #0066C9;
                    }
                    &:hover {
                        color: #0066C9;
                    }
                }
            }
        }
        .menu-mobile {
            display: none;
        }
    }
}

.section {
    width: 100%;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: #F2F2F5;
    }
    .container {
        position: relative;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            right: -100px;
            top: 0;
            z-index: -1;
            background: url("../img/world-map.svg") center right no-repeat;
            background-size: contain;
        }
        .title {
            font-weight: 500;
            font-size: 50px;
            line-height: 150%;
            color: #1D1D1F;
            margin-bottom: 20px;
        }
        .subtitle {
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;
            margin-bottom: 60px;
            color: #4E4F54;
        }
    }
}

.sub-section {
    width: 100%;
    background: #0066C9;
    min-height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        .boxs {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .box {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;
                width: 18%;
                span {
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 150%;
                 
                    display: block;
                    text-align: center;

                    color: #FFFFFF;
                }
                p {
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 150%;

                    text-align: center;

                    color: #E6EAEF;
                }
            }
        }
    }
}

.section-why-work {
    margin: 100px 0;
    width: 100%;
    min-height: 100vh;
    .container {
        display: flex;
        flex-direction: column;
        .title {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 40px;
            line-height: 150%;
            color: #1D1D1F;
        }
        .boxs-row {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            .box {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                .img {
                    margin-bottom: 25px;
                }
                span {
                    display: block;
                    margin-bottom: 10px;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 150%;

                    color: #1D1D1F;
                }
                p {
                    width: 80%;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 150%;
                    color: #4E4F54;
                }
            }
        }
        .advertising  {
            width: 100%;
            margin: 100px 0;
            padding: 40px 95px;
            display: flex;
            flex-direction: column;
            background: #F4F8FC;
            border-radius: 5px;
            &-title {
                margin-bottom: 15px;
                font-weight: 500;
                font-size: 25px;
                line-height: 150%;

                color: #0066C9;
            }
            &-row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .text {
                    width: 70%;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 150%;

                    color: #4E4F54;
                }
            }
        }
        .support {
            width: 100%;
            margin-bottom: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-text {
                width: 50%;
                display: flex;
                flex-direction: column;

                p {
                    margin-bottom: 60px;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 150%;
                    color: #4E4F54; 
                }
                .social {
                    display: flex;
                    align-items: center;
                    a {
                        margin-right: 60px;
                        &:last-child {
                            margin-right: 0;
                        }
                        svg {
                            transition: 0.3s;
                            path {
                                fill: #1D1D1F;
                                transition: 0.3s;
                            }
                            &:hover {
                                path {
                                    fill: #0066C9;
                                }
                            }
                        }
                    }
                }
            }
        }
        .secure {
            width: 100%;
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            &-subtitle {
                width: 85%;
                margin-bottom: 70px;
                font-weight: normal;
                font-size: 20px;
                line-height: 150%;

                text-align: center;

                color: #4E4F54;
            }
            &-row {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                .box {
                    width: 100%;
                    max-width: 350px;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
                    border-radius: 5px;
                    margin: 0 15px;
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 20px;
                    &:nth-child(2) {
                        margin-top: 40px;
                    }
                    span {
                        display: block;
                        margin-top: 15px;
                        font-weight: normal;
                        font-size: 17px;
                        line-height: 150%;
                        color: #1D1D1F;
                    }
                }
            }
        }
    }
}

.section-404 {
    width: 100%;
    min-height: 91vh;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    margin-top: 80px;
    padding: 70px 0;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: #F2F2F5;
    }

    .container {
        display: flex;
   
        align-items: center;
        flex-direction: column;
        span {
            margin-bottom: 36px;
            display: block;
            font-weight: 600;
            font-size: 50px;
            line-height: 150%;

            text-align: center;

            color: #1D1D1F;
        }
        .btn {
            box-shadow: 0px 0px 37.037px rgba(0, 102, 201, 0.2);
            border-radius: 5px;
            max-width: 145px;

        }
        img {
            margin-top: 100px;
        }
    }
}

.section-register {
    width: 100%;
    min-height: 91vh;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 80px;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        background: #F2F2F5;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        .box {
            width: 100%;
            max-width: 540px;
            padding: 45px 95px;

            background: #FFFFFF;

            border: 1px solid #E6EAEF;
            box-sizing: border-box;
            border-radius: 20px;
            .title {
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 25px;
                line-height: 150%;

                color: #1D1D1F;
            }
            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                .form-item {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0 ;
                    }
                    &.rest {
                        margin-bottom: 0;
                    }
                    input {
                        width: 100%;
                        min-height: 55px;
                        background: #F4F8FC;
                        
                        border: 1px solid #F2F2F5;
                        box-sizing: border-box;
                        backdrop-filter: blur(10px);
                        padding: 16px;
                        border-radius: 5px;
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 150%;

                        color: #1D1D1F;
                    }
                    ::placeholder {
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 150%;

                        color: #C4CCD6;
                    }
                    p {
                        margin-top: 10px;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 150%;

                        color: #4E4F54;
                    }
                }
                .form-check {
                    margin-bottom: 11px;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    .check {
                        width: 16px;
                        height: 16px;
                        min-width: 16px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        input {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            cursor: pointer;
                        }
                        input:checked ~ .border::before {
                            display: block;
                        }
                        .border {
                            width: 100%;
                            height: 100%;
                            border: 1px solid #E6EAEF;
                            box-sizing: border-box;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            pointer-events: none;
                            &::before {
                                content: "";
                                display: none;
                                width: 50%;
                                height: 50%;
                                position: absolute;
                                border-radius: 50%;
                                background: #0066C9;
                            }
                        }
                    }
                    p {
                        display: block;
                        margin-left: 10px;
                        font-weight: normal;
                        font-size: 11px;
                        line-height: 150%;

                        color: #4E4F54;
                        a {
                            text-decoration: underline;
                        }
                    }
                }
                .btns-row {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 30px;
                    .btn {
                        max-width: 175px;
                        min-height: 44px;
                        margin-right: 10px;
                    }
                    .btn-gray {
                        margin-left: 10px;
                        background: #4E4F54;
                    }
                }
            }
            .res-pass{
                font-weight: normal;
                font-size: 17px;
                line-height: 150%;
                margin-top: 30px;
                color: #C4CCD6;
                display: block; 
            }
        }
        .box-sec {
            width: 100%;
            max-width: 350px;
            min-height: 262px;
            background: #FFFFFF;
            border: 1px solid #E6EAEF;
            box-sizing: border-box;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            span {
                display: block;
                font-weight: 500;
                font-size: 25px;
                line-height: 150%;
                margin-bottom: 10px;
                margin-top: 30px;
                text-align: center;

                color: #1D1D1F;
            }
            p {
                font-weight: normal;
                font-size: 17px;
                line-height: 150%;

                text-align: center;

                color: #C4CCD6;
            }
        }
    }
}

.footer {
    width: 100%;
    min-height: 100%;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        .footer-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            .title {
                margin-bottom: 60px;
                font-weight: 600;
                font-size: 40px;
                line-height: 150%;

                color: #1D1D1F;
            }
            .social {
                display: flex;
                align-items: center;
                a {
                    margin-right: 60px;
                    &:last-child {
                        margin-right: 0;
                    }
                    svg {
                        transition: 0.3s;
                        path {
                            fill: #1D1D1F;
                            transition: 0.3s;
                        }
                        &:hover {
                            path {
                                fill: #0066C9;
                            }
                        }
                    }
                }
            }
           
        }
        .footer-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            .box {
                display: flex;
                flex-direction: column;
                padding: 20px;
                background: #FFFFFF;
                box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.05);
                border-radius: 5px;
                margin-bottom: 40px;
                width: 100%;
                max-width: 350px;
                &:first-child {
                    margin-right: 170px;
                }
                span {
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 150%;
                    display: block;
                    color: #0066C9;
                }
                p {
                    margin-top: 12px;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 150%;

                    color: #4E4F54;
                }
            }
        }
    }
}
.footer-sub {
    .container {
        .date {
            font-weight: normal;
            font-size: 20px;
            line-height: 150%;
            margin-bottom: 50px;
            color: #1D1D1F;
        }
        
    }
}
.menu-modal {
    display: none;
}
@media (max-width:1400px) {
    .section-register {
        .container {
            .box {
                padding: 40px;
                max-width: 470px;
            }
        }
    
    }
}

@media (max-width:980px) {
    .btn {
        max-width: 194px;
        min-height: 47px;
        font-size: 15px;
    }
    .header {
        min-height: 78px;
        .container {
            .logo {
                img {
                    width: 110px;
                }
            }
            .header-right {
                display: none;
            }
            .menu-mobile {
                width: 30px;
                height: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                transition: 0.3s;
                position: relative;
                &.active {
                    justify-content: center;
                    
                    span {
                        position: absolute;
                        &:nth-child(1) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                    }
                }
                span {
                    width: 100%;
                    height: 3px;
                    background: #1D1D1F;
                    transition: 0.3s;
                }
            }
        }
        
    }
    .section {
        min-height: 460px;
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 460px;
            flex-direction: column;
            &::before {
                top: unset;
                min-width: 1000px;
                right: unset;
                margin-right: 70px;
                min-height: 400px;
                bottom: -60%;
                background: url("../img/world-map.svg") center bottom no-repeat;
                background-size: 100% 100%;
            }
            .title {
                margin-top: -100px;
                font-size: 25px;
            }
            .subtitle {
                margin-bottom: 40px;
                font-size: 16px;
            }
        }
    }
    .sub-section {
        min-height: 100%;
        padding: 50px 0;
        .container {
            .boxs {
                flex-wrap: wrap;
                .box {
                    width: 50%;
                    margin-bottom: 50px;
                    &:nth-child(3) {
                        margin-bottom: 0;
                    }
                    &:nth-child(4) {
                        margin-bottom: 0;
                    }

                    span {
                        font-size: 30px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .section-why-work {
        margin: 50px 0;
        .container {
            justify-content: center;
            align-items: center;
            .title {
                font-size: 25px;
            }
            .boxs-row {
                flex-wrap: wrap;
                .box {
                    margin-bottom: 60px;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    span {
                        font-size: 20px;
                    }
                    p {
                       
                        font-size: 16px;
                    }
                }
            }
            .advertising  {
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 40px 25px;
                margin: 50px 0;
                &-title {
                    font-size: 20px;
                }
                &-row {
                    flex-direction: column;
                    align-items: center;
                    .text {
                        width: 100%;
                        font-size: 16px;
                        margin-bottom: 40px;
                        br {
                            display: none;
                        }
                    }
                }
            }
            .support {
                margin-bottom: 50px;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                &-text {
                    margin-bottom: 50px;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    p {
                        font-size: 16px;
                        margin-bottom: 40px;
                    }
                    .social {
                        a {
                            margin-right: 42px;
                            svg {
                                width: 30px;
                            }
                        }
                    }
                }
                &-img {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
            .secure {
                margin-bottom: 50px;
                &-subtitle {
                    width: 100%;
                    font-size: 16px;
                    margin-bottom: 50px;
                }
                &-row {
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    .box {
                        margin-bottom: 40px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &:nth-child(2) {
                            margin-top: 0;
                        }
                        span {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .footer {
        margin-bottom: 0;
        .container {
            flex-direction: column;
            padding-bottom: 100px;
            &::before {
                content: "";
                width: 100%;
                min-width: 1200px;
                height: 100%;
                min-height: 300px;
                position: absolute;
                left: -0px;
                bottom: -10%;
                z-index: -1;
                background: url("../img/bg-line.svg") center bottom no-repeat;
                background-size: contain;
            }
            .footer-left {
                width: 100%;
                justify-content: center;
                align-items: center;
                text-align: center;
                .title {
                    font-size: 25px;
                    margin-bottom: 50px;
                }
                .social {
                    margin-bottom: 60px;
                    a {
                        margin-right: 42px;
                        svg {
                            width: 30px;
                        }
                    }
                }
                
            }
            .footer-right {
                width: 100%;
                justify-content: center;
                align-items: center;
                .box {
                    &:first-child {
                        margin-right: 0;
                    }
                    span {
                        font-size: 17px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .footer-sub {
        .container {
            .date {
         
                margin-top: -70px;
            }
            
        }
    }
    .menu-modal {
        width: 100%;
        position: fixed;
        top: -200%;
        background: #fff;
        left: 0;
        z-index: 39px;
        transition: 0.3s;
        padding: 40px 15px;
        opacity: 0;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        &.active {
            top: 78px;
            opacity: 1;
            pointer-events: visible;
        }
        .menu-m {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            a {
                margin-bottom: 40px;
                font-weight: normal;
                font-size: 17px;
                line-height: 150%;

                text-align: center;

                color: #1D1D1F;
                &.active {
                    color: #0066C9;
                }
            }
        }
    }
    .section-register {
        margin-top: 78px;
        min-height: calc(100vh - 80px);
        background: #fff;
        .container {
            .box {
                padding: 20px 0;
                border: none;
            }
            .box-sec {
                border: none;  
            }
        }

    }
}